$leftGradientColor: rgb(69, 91, 166);
$rightGradientColor: rgb(73, 29, 118);
$whiteColor: #fcfbf9;
$deleteBntColor: #49166f;
$checkboxColor: #4464ad;
$bgInputError: #d41d14;
$bgErrorMessage: #6e0f08;
$textColor: #6a7275;
